# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\3utransat-k160\TUT_EGSE_EP_ads7049_pipeSimplify_branch_k160\software\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
